<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet : Noobies</title>
    <link rel="stylesheet" href="../design/default.css">
    <link rel="stylesheet" href="../design/styleProjet.css">
</head>
<body>
        
            <nav class="barre_navigation">
                <div class="container_navigation">
                    <img src="../pictures/nom.png" class="logo" alt="">
                    <ul id = "navigation">
                        <li class="liste_nav"><a href="../index.html#Accueil" class="btn_nav">Accueil</a></li>
                        <li class="liste_nav"><a href="../index.html#A_mon_propos" class="btn_nav">à propos de moi</a></li>
                        <li class="liste_nav"><a href="../index.html#competences" class="btn_nav">Compétences</a></li>
                        <li class="liste_nav"><a href="../index.html#Portfolio" class="btn_nav">Portfolio</a></li>
                        <li class="liste_nav"><a href="../index.html#contact" class="btn_nav">Contact</a></li>
                    </ul>
                    <div class="burger">
                        <span></span>
                    </div>

                    <ul class="navigationMobile">
                        <li class="liste_nav_mobile"><a href="../index.html#Accueil" class="btn_nav">Accueil</a></li>
                        <li class="liste_nav_mobile"><a href="../index.html#A_mon_propos" class="btn_nav">à propos de moi</a></li>
                        <li class="liste_nav_mobile"><a href="../index.html#competences" class="btn_nav">Compétences</a></li>
                        <li class="liste_nav_mobile"><a href="../index.html#Portfolio" class="btn_nav">Portfolio</a></li>
                        <li class="liste_nav_mobile"><a href="../index.html#contact" class="btn_nav">Contact</a></li>
                    </ul>
                </div>
                
            </nav>
        

        <div class="container_principal">
            <div class="div_titre" >
                <h2 class="titre">Noobies</h2>
                <div class="soulignement gris"></div>
            </div>
            <p class="texte">
                Ce projet a pour but de réunir différents joueurs dans une communauté, afin qu'ils partagent leur passion, leurs jeux ...
                Sa réalisation est personnelle et est purement dans l'amusement personnel.
                <span class="souligner">Technologie utilisées</span>  : HTML, CSS, PHP, Javascript, SQL
            </p>
            <p>
                Image indisponible pour le moment. <br>
                Projet en cours de réalisation.
            </p>
        </div>
    
    <script src="../javascript/app.js"></script>
</body>
</html>